.git
.gitignore
.venv
wandb
__pycache__
**/__pycache__
.DS_Store
tea_debug.log
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
experiments
data/raw

data/processed
data/models
artifacts/checkpoints
artifacts/release
