*.db
*.db-journal
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.out

*.pkl
*.pt
*.jpg
*.png
!docs/*.png

.DS_Store
tea_debug.log

**/.ipynb_checkpoints
**/__pycache__
**/.vscode
**/runs
**/ENV
**/all-mpnet-base-v2
**/.cache
**/data
core.*
artifacts/
wandb/
.venv/

run*.sh
start.sh
*.sh
!scripts/publish_docker.sh
