torch==2.11.0
faiss-cpu==1.13.2
pandas==3.0.2
numpy==2.4.4
scikit-learn==1.8.0
fastapi==0.136.0
uvicorn==0.44.0
jinja2==3.1.6
python-multipart==0.0.26
sentence-transformers==5.4.1
langchain==1.2.15
langchain-mcp-adapters==0.2.2
langchain-openai==1.1.14
langchain-ollama==1.1.0
langchain-google-genai==4.2.2
langchain-groq==1.1.2
fastmcp==3.2.4
markupsafe==3.0.3
